@import "tailwindcss";

@theme {
  /* Custom Tailwind Config goes here  */
}

@layer base {
  :root {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: break-word;
  }

  p {
    /* stylelint-disable-next-line plugin/use-baseline */
    text-wrap: pretty;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    /* stylelint-disable-next-line plugin/use-baseline */
    text-wrap: balance;
  }

  #root {
    isolation: isolate;
  }
}
